Repository thomascouto/next.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.tsx": "eslint",
  "*.css": "stylelint"
}

chore: docker config
  next.config.js
Due: none

chore: update pre-commit
  .husky/pre-commit
Due: none

chore: add storybook
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint

chore: add query provider
  components/providers/QueryProvider.tsx
  lib/getQueryClient.tsx
Due: eslint

chore: add eslint, prettier, react query, storybook
  .eslintrc.json
  .prettierrc
  package-lock.json
  package.json
Due: none

chore: add react query
  app/layout.tsx
Due: eslint

chore: storybook files
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: eslint, stylelint

fix: eslint
  app/globals.css
Due: stylelint

chore: add stylelint
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

chore: add typescript lint
  .eslintrc.json
  package-lock.json
  package.json
Due: none

chore: update app name, update jest coverage
  jest.config.ts
  package.json
Due: eslint

chore: import jest config
  jest.config.ts
  package-lock.json
Due: eslint

chore: change ts config, tailwind prettier
  tailwind.config.ts
  tsconfig.json
Due: eslint

chore: prettier config tabs
  .prettierrc
Due: none

chore: add engines
  package.json
Due: none

chore: change node version from engines
  package.json
Due: none

chore: workflows
  .husky/.github/workflows/github-actions-demo.yml
Due: none

chore: workflows
  .github/workflows/github-actions-demo.yml
Due: none
